*{
    font-family: sans-serif;
    box-sizing: border-box;
}

:root{
    --sidebar: #94a3b8;
    --main: #e2e8f0;
    --header: #f8fafc;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 225px 4fr;
    
    height: 100vh;
}

.header{
    position: sticky;
    top: 0;
    background-color: var(--header);
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;    
    grid-template-columns: 2fr 1fr;

}

.search-bar{
    padding: 20px;
}
.search-bar>.wrapper{
    display: flex;
    gap: 4px;
    align-items: center;
}
.search-bar img{
    width:20px;
    height: 20px;
}

input[type="search"]{
    border: none;
    background-color: var(--main);
    border-radius: 12px;
    min-width: 80%;
    max-width: 900px;
    height: 24px;
}
.greeting{
    padding-left: 20px;
    padding-bottom: 10px;
}
#profile-pic{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.main{
    background-color: var(--main);
    grid-column: 2/3;
    grid-row: 2/5;
    display: grid;
    
}

.project-wrapper{
    margin: 10px;
    grid-column: 1/5;
}
.projects{
    height: 700px;
    display: grid;
    grid-template-columns: 
        repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    grid-auto-rows: min-content;
    overflow: auto;
    
}
.card{
    background-color: var(--header);
    border-radius: 10px;
    border-left: solid 10px var(--sidebar);
    height: 300px;
    box-shadow: 2px 2px 4px 1px lightgrey;
    display: flex;
}
.card-content{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.btn-container{
    align-self: flex-end;
    display: flex;
    gap: 10px;
}
.btn-container img{
    transition: transform 0.8s ease-in-out;
}
.btn-container img:hover{
    
    transform: rotate(360deg) scale(1.2);
}
.card-title .title{
    font-weight: 600;
    font-size: 18px;
}

.right{
    grid-column: 5/6;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}
.announcement-wrapper,
.trending-wrapper{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.announcements,
.trending{
    flex: 1;
    background-color: var(--header);
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px lightgrey;
    padding: 20px;
}
.announcement-item .title{
    font-weight: 600;
    font-size: 15px;
}
.announcement-item{
   
    overflow: hidden;
    font-size: 13px;
}



.sidebar{
    background-color: var(--sidebar);
    grid-column: 1/2;
    grid-row: 1/5;
    display: grid;
    color: white;
    grid-template-rows: 50px 180px;
    gap: 10px;
}
.title-wrapper .title{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    gap: 4px;
    padding-left: 5px;
    grid-row: 1/2;
}

li{
    list-style: none;
    font-size: 20px;
}
ul{
    padding: 0;
    margin: 0;
}

.list-wrapper{
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-wrapper li{
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar-list-wrappers{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
::-webkit-scrollbar{
    
    display: none;
}