*{
    font-family: sans-serif;
    box-sizing: border-box;
}

:root{
    --sidebar: #94a3b8;
    --main: #e2e8f0;
    --header: #f8fafc;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 225px 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.header{
    background-color: var(--header);
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;    
    grid-template-columns: 2fr 1fr;

}

.search-bar{
    padding: 20px;
}
.search-bar>.wrapper{
    display: flex;
    gap: 4px;
    align-items: center;
}
.search-bar img{
    width:20px;
    height: 20px;
}

input[type="search"]{
    border: none;
    background-color: var(--main);
    border-radius: 12px;
    min-width: 80%;
    max-width: 900px;
    height: 24px;
}
.greeting{
    padding-left: 20px;
    padding-bottom: 10px;
}
#profile-pic{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.main{
    background-color: var(--main);
    grid-column: 2/3;
    grid-row: 2/5;
}
.sidebar{
    background-color: var(--sidebar);
    grid-column: 1/2;
    grid-row: 1/5;
    display: grid;
    color: white;
    grid-template-rows: 50px 180px;
    gap: 10px;
}
.title{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    gap: 4px;
    padding-left: 5px;
    grid-row: 1/2;
}

li{
    list-style: none;
}
ul{
    padding: 0;
    margin: 0;
}

.list-wrapper{
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.list-wrapper li{
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}
